.history {
	padding-top: 25rpx;
	.search {
		padding: 0 16rpx 0 18rpx;
		.search-bar {
			width: 634rpx;
			height: 75rpx;
			background: #f8f8f8;
			border-radius: 10rpx;
			border: 1px solid #e6e6ea;
			padding-left: 16rpx;
			padding-right: 20rpx;
			.iconsearch{
				font-size: 42rpx;
				color: #B2B2B2;
			}
			.inp{
				color: #333;
				font-size: 26rpx;
				padding-left: 24rpx;
			}
			.iconguanbi{
				font-size: 30rpx;
				color: #A0A1A7;
			}
		}
		.btn {
			font-size: 32rpx;
			color: #0088dd;
		}
	}
	.title{
		margin-top: 60rpx;
		padding: 0 16rpx 0 18rpx;
		.t1{
			font-size: 28rpx;
			color: #333333;
			font-weight: bold;
		}
		.t2{
			font-size: 28rpx;
			color: #0088DD;
		}
	}
	.list{
		margin-top: 25rpx;
		padding-left: 30px;
		.box{
			height: 88rpx;
			border-bottom: 1px solid #EEEEEE;
			font-size: 28rpx;
			color: #666666;
		}
	}
}
