@import './font.scss';

.h-title {
	position: relative;
	width: 100%;
	padding-top: 42rpx;
	.address {
		position: absolute;
		height: 88rpx;
		top: 42rpx;
		left: 30rpx;
		font-size: 28rpx;
		font-weight: bold;
		color: #333333;
		line-height: 88rpx; 
	}
	.title {
		width: 100%;
		height: 88rpx;
		line-height: 88rpx;
		font-size: 34rpx;
		font-weight: bold;
		color: #333333;
		line-height: 88rpx;
		text-align: center;
	}
}
