@font-face {
	font-family: "iconfont";
	src: url('~@/static/iconfont.ttf?t=1597739255175') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconzuojiantou:before {
  content: "\e645";
}

.iconshiliangzhinengduixiang_fa74f383-00af-45cc-b2c5-b55066821ec9:before {
  content: "\e648";
}

.iconshiliangzhinengduixiang_9f18499c-5c13-4101-82b9-ca8524c16015:before {
  content: "\e647";
}

.iconjiahao:before {
  content: "\e6c3";
}

.iconshiliangzhinengduixiang:before {
  content: "\e644";
}

.iconback:before {
  content: "\e61b";
}

.iconjiantou:before {
  content: "\e643";
}

.iconbangzhu:before {
  content: "\e642";
}

.iconshoukuanma:before {
  content: "\e641";
}

.iconxiaoxi:before {
  content: "\e640";
}

.iconshouye:before {
  content: "\e63f";
}

.iconshiliangzhinengduixiang8:before {
  content: "\e63e";
}

.iconshiliangzhinengduixiang7:before {
  content: "\e63d";
}

.iconshiliangzhinengduixiang2-02:before {
  content: "\e63c";
}

.iconshiliangzhinengduixiang5:before {
  content: "\e63b";
}

.iconshezhi1:before {
  content: "\e63a";
}

.iconshiliangzhinengduixiang9:before {
  content: "\e639";
}

.iconshiliangzhinengduixiang4:before {
  content: "\e638";
}

.iconshiliangzhinengduixiang61:before {
  content: "\e637";
}

.iconshiliangzhinengduixiang1-02:before {
  content: "\e636";
}

.iconsousuo-05:before {
  content: "\e631";
}

.iconsousuo-01:before {
  content: "\e632";
}

.iconsousuo-03:before {
  content: "\e633";
}

.iconsousuo-02:before {
  content: "\e634";
}

.iconsousuo-04:before {
  content: "\e635";
}

.iconsousuo:before {
  content: "\e630";
}

.iconchonghuafei:before {
  content: "\e62f";
}

.iconxianxiaxiaofei:before {
  content: "\e62e";
}

.iconxianshanggouwu:before {
  content: "\e62d";
}

.iconbaiyihuafei:before {
  content: "\e62c";
}

