@font-face {
	font-family: "iconfont";
	src: url('~@/static/iconfont.ttf?t=1597739255175') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontishi1:before {
  content: "\e646";
}

.iconjinggao:before {
  content: "\e641";
}

.iconsearch:before {
  content: "\e602";
}

.iconneirongchaxun:before {
  content: "\e6a9";
}

.iconqianjin:before {
  content: "\e6aa";
}

.icontishi:before {
  content: "\e6ab";
}

.iconlajixiangbeifen:before {
  content: "\e6ac";
}

.iconhuaban:before {
  content: "\e6ad";
}

.iconweikefu:before {
  content: "\e6ae";
}

.iconneirongchaxun1:before {
  content: "\e6af";
}

.iconguanbi:before {
  content: "\e6b0";
}

